In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format #panda: para todos os numeros aparecerem com duas casas decimais
pd.set_option('display.max_columns',80) #aumentar a quantidade de vizualização de colunas

In [2]:
dados = pd.read_csv('./dados/MICRODADOS_ENEM_2023.csv', encoding='latin1', sep=';')

In [3]:
dados.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5300108,Brasília,53,DF,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,F,E,D,5,F,C,C,D,C,D,C,B,B,D,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5300108,Brasília,53,DF,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,E,E,B,3,H,A,B,C,C,A,B,B,B,A,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4305108,Caxias do Sul,43,RS,1,1,1,1,1221.00,1193.00,1204.00,1211.00,502.00,498.90,475.60,363.20,DBEBDCECCBCEBBBBDBABDDBBAABCBACDBACECCBAADEBB,ABDEADAADCDABDCADAEABCDDCBAADCCBEBCEBEBDBEAED,ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED,CEAEACCCDABCDAACEDDBAAEBABDDEEBDAECABDBCBCADE,1,DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED,ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC,1.00,140.00,200.00,100.00,120.00,140.00,700.00,H,E,C,F,5,C,A,B,D,B,A,B,A,B,A,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,1.00,0,2304400.00,Fortaleza,23.00,CE,2.00,1.00,1.00,2304400,Fortaleza,23,CE,1,1,1,1,1224.00,1192.00,1202.00,1214.00,459.00,508.50,507.20,466.70,DEEBEACCCEBDDBDCCCAEEDCBAAADBCBEEEDCDAAECBEEC,DDAAEEBCCDEADBCDDCBAECABEBDEBDABECECEDCDDAEED,ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA,EECBAEDEEDDDBBAADEECDBBBECEAACEAEECDBEDDBCDCB,0,CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE,DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD,1.00,140.00,200.00,160.00,180.00,200.00,880.00,D,D,B,B,5,C,A,B,B,A,A,B,A,A,A,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,1.00,0,2311306.00,Quixadá,23.00,CE,2.00,1.00,1.00,2311306,Quixadá,23,CE,1,1,1,1,1222.00,1191.00,1201.00,1212.00,402.50,379.20,446.90,338.30,AECCEAACDEABEEECDBAEEAAADDEABCBCEBACEEDCBEABD,CADEBCEDDEBCBAEBADDCECACADBDEBABDBDBEEDBBEADC,AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE,CDBABEDCEEBBBDECDEBACCAABDEDCBECDECABBDBDEECC,0,CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB,CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB,1.00,120.00,120.00,120.00,120.00,80.00,560.00,B,B,A,A,4,B,A,B,A,A,A,B,A,A,A,A,A,A,B,A,A,B,A,A,A

In [4]:
dados.shape

(3933955, 76)

In [5]:
drop_column = ['TP_ESTADO_CIVIL','TP_ANO_CONCLUIU', 'CO_MUNICIPIO_ESC','TP_SIT_FUNC_ESC','CO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
               'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT','TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 
           'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT','TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC','TX_GABARITO_MT']
for i in range(1, 26):
    if i > 9:
        drop_column.append(f'Q0{i}')
    else:
        drop_column.append(f'Q00{i}')
dados = dados.drop(drop_column, axis=1)

In [6]:
dados.isnull().sum()

NU_INSCRICAO                    0
NU_ANO                          0
TP_FAIXA_ETARIA                 0
TP_SEXO                         0
TP_COR_RACA                     0
TP_NACIONALIDADE                0
TP_ST_CONCLUSAO                 0
TP_ESCOLA                       0
TP_ENSINO                 2594874
IN_TREINEIRO                    0
NO_MUNICIPIO_ESC          2975449
CO_UF_ESC                 2975449
SG_UF_ESC                 2975449
TP_DEPENDENCIA_ADM_ESC    2975449
TP_LOCALIZACAO_ESC        2975449
NO_MUNICIPIO_PROVA              0
SG_UF_PROVA                     0
TP_PRESENCA_CN                  0
TP_PRESENCA_CH                  0
TP_PRESENCA_LC                  0
TP_PRESENCA_MT                  0
NU_NOTA_CN                1241528
NU_NOTA_CH                1111312
NU_NOTA_LC                1111312
NU_NOTA_MT                1241528
TP_LINGUA                       0
TP_STATUS_REDACAO         1111312
NU_NOTA_COMP1             1111312
NU_NOTA_COMP2             1111312
NU_NOTA_COMP3             1111312
NU_NOTA_COMP4             1111312
NU_NOTA_COMP5             1111312
NU_NOTA_REDACAO           1111312
dtype: int64

In [7]:
dados = dados.dropna(subset=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO'])
drop = ['NU_ANO', 'TP_ENSINO', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC' , 'TP_LOCALIZACAO_ESC']
dados = dados.drop(drop, axis=1)
dados.shape

(2678264, 26)

In [8]:
dados.isnull().sum()

NU_INSCRICAO          0
TP_FAIXA_ETARIA       0
TP_SEXO               0
TP_COR_RACA           0
TP_NACIONALIDADE      0
TP_ST_CONCLUSAO       0
TP_ESCOLA             0
IN_TREINEIRO          0
NO_MUNICIPIO_PROVA    0
SG_UF_PROVA           0
TP_PRESENCA_CN        0
TP_PRESENCA_CH        0
TP_PRESENCA_LC        0
TP_PRESENCA_MT        0
NU_NOTA_CN            0
NU_NOTA_CH            0
NU_NOTA_LC            0
NU_NOTA_MT            0
TP_LINGUA             0
TP_STATUS_REDACAO     0
NU_NOTA_COMP1         0
NU_NOTA_COMP2         0
NU_NOTA_COMP3         0
NU_NOTA_COMP4         0
NU_NOTA_COMP5         0
NU_NOTA_REDACAO       0
dtype: int64

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2678264 entries, 2 to 3933953
Data columns (total 26 columns):
 #   Column              Dtype
---  ------              -----
 0   NU_INSCRICAO        int64
 1   TP_FAIXA_ETARIA     int64
 2   TP_SEXO             object
 3   TP_COR_RACA         int64
 4   TP_NACIONALIDADE    int64
 5   TP_ST_CONCLUSAO     int64
 6   TP_ESCOLA           int64
 7   IN_TREINEIRO        int64
 8   NO_MUNICIPIO_PROVA  object
 9   SG_UF_PROVA         object
 10  TP_PRESENCA_CN      int64
 11  TP_PRESENCA_CH      int64
 12  TP_PRESENCA_LC      int64
 13  TP_PRESENCA_MT      int64
 14  NU_NOTA_CN          float64
 15  NU_NOTA_CH          float64
 16  NU_NOTA_LC          float64
 17  NU_NOTA_MT          float64
 18  TP_LINGUA           int64
 19  TP_STATUS_REDACAO   float64
 20  NU_NOTA_COMP1       float64
 21  NU_NOTA_COMP2       float64
 22  NU_NOTA_COMP3       float64
 23  NU_NOTA_COMP4       float64
 24  NU_NOTA_COMP5       float64
 25  NU_NOTA_REDACAO     float64
dtypes: float64(11), int64(12), object(3)
memory usage: 551.7+ MB

In [10]:
dados.columns =  ['inscricao', 'idade', 'sexo', 'cor_raça', 'nacionalidade', 'status_conclusao', 'tipo_escola', 'treineiro', 
              'municipio_prova', 'uf_prova', 'presenca_cn', 'presenca_ch', 'presenca_lc', 'presenca_mt', 'nota_cn', 'nota_ch', 
              'nota_lc', 'nota_mt', 'tipo_lingua', 'status_redacao', 'nu_nota_comp1', 'nu_nota_comp2', 'nu_nota_comp3', 
             'nu_nota_comp4', 'nu_nota_comp5', 'nota_redacao']
colunas_categoricas = ['sexo', 'cor_raça', 'tipo_escola', 'status_conclusao', 'treineiro', 
                       'municipio_prova', 'uf_prova', 'presenca_cn', 'presenca_ch', 
                       'presenca_lc', 'presenca_mt', 'tipo_lingua', 'status_redacao']
for col in colunas_categoricas:
    dados[col] = dados[col].astype('category')
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2678264 entries, 2 to 3933953
Data columns (total 26 columns):
 #   Column            Dtype
---  ------            -----
 0   inscricao         int64
 1   idade             int64
 2   sexo              category
 3   cor_raça          category
 4   nacionalidade     int64
 5   status_conclusao  category
 6   tipo_escola       category
 7   treineiro         category
 8   municipio_prova   category
 9   uf_prova          category
 10  presenca_cn       category
 11  presenca_ch       category
 12  presenca_lc       category
 13  presenca_mt       category
 14  nota_cn           float64
 15  nota_ch           float64
 16  nota_lc           float64
 17  nota_mt           float64
 18  tipo_lingua       category
 19  status_redacao    category
 20  nu_nota_comp1     float64
 21  nu_nota_comp2     float64
 22  nu_nota_comp3     float64
 23  nu_nota_comp4     float64
 24  nu_nota_comp5     float64
 25  nota_redacao      float64
dtypes: category(13), float64(10), int64(3)
memory usage: 321.9 MB

In [11]:
dados = dados[~((dados['nota_cn'] == 0) & 
                (dados['nota_ch'] == 0) & 
                (dados['nota_lc'] == 0) & 
                (dados['nota_mt'] == 0) & 
                (dados['nota_redacao'] == 0))]
#(2678264, 26)
dados.shape

(2678244, 26)

In [12]:
dados.to_csv('/dados/DADOS_ENEM_2013_TRATADOS.csv', index=False, sep=';', encoding='latin1')